@import 'variables.scss';
@import 'bootstrap-overrides.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:100, 400');

html, body {
    background-color: $offWhite;
}

* {
    font-family: 'Roboto', sans-serif;
    border-radius: 0 !important;
}

.container {
    background-color: $red300;
    padding: 0 0 1em 0; 
    margin: 4em auto 0 auto;
}