@import 'variables.scss';

.search-bar {
    margin: 1em;
    text-align: center;
    width: calc(100% - 2em);
}

.search-bar input {
    font-size: 2em;
    width: 100%
}

.search-icon-container {
    width: 4em;
    background-color: $red50;
}

.fa.fa-search {
    color: $red900;
}
