//colors
$red900: #B71C1C;
$red800: #C62828;
$red500: #F44336;
$red300: #E57373;
$red100: #FFCDD2;
$red50: #FFEBEE;
$black: rgb(70,70,70);
$white: #fff;
$offWhite: rgb(245,245,245);

//font
$h1Size: 3em;
$h2Size: 1em;
$fontSize: 1em;